@import url('./animations.css');

:root {
	--color-1: #219ebc;
	--color-2: #023047;
	--color-3: #023047;
	--color-4: #fb8500;

	--background: var(--color-1);
	--foreground: var(--color-2);
	--surface: var(--color-3);
	--accent: var(--color-4);

	--padding-norm: 16px;
	--padding-large: 20px;

	--font-one: monospace;
	--font-size-large: 40px;
	--font-size-norm: 30px;
	--font-size-small: 25px;

	--navbar-height: calc(10vh + var(--padding-norm));
	--navbar-top-margin: 30px;
	--inner-width: calc(100vw - (var(--padding-norm)*2));
	--inner-height: calc(100vh - (var(--padding-norm)*2));

	--blur-small: 5px;
	--blur-large: 10px;

	--border-radius-norm: 10px;
	--border-radius-large: 20px;

	--border-size-norm: 2px;
}

* {
	padding: 0px;
	margin: 0px;
	outline: 0px;
	border: 0px;
	background: transparent;
	font-family: var(--font-one);
	font-size: var(--font-size-norm);
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	padding: var(--padding-norm);
	background: var(--background);
	color: var(--foreground);
}

.wrap {
	width: var(--inner-width);
	height: fit-content;

	.home {
		--bg: var(--color-2);
		color:var(--background);
		width: 100%;
		background: var(--bg);
		padding: var(--padding-norm);
		border-radius: var(--border-radius-norm);
		margin-bottom: var(--padding-norm);
		height: calc(var(--inner-height) - var(--navbar-height) - var(--padding-norm));
		overflow:hidden;

		marquee {
			color: var(--accent);
			border-bottom: solid var(--border-size-norm) var(--surface-10);
			padding: 0px var(--padding-norm);
			position:relative;
		}

		marquee::before {
			content: " ";
			position:absolute;
			width:30%;
			height:100%;
			top:0;
			left:0;
			background:linear-gradient(to right, var(--bg),transparent);
			z-index:2;
			pointer-events:none;
		}

		marquee::after {
			content: " ";
			position:absolute;
			width:30%;
			height:100%;
			top:0;
			right:0;
			background:linear-gradient(to left,var(--bg), transparent);
			pointer-events:none;
		}

		img {
			height:300px;
		}
	}
}

a {
	text-decoration: none;
	color: var(--accent);
}

a::before {content:"["}
a::after {content:"]"}
a:hover {
	background:var(--accent);
	color:var(--background);
}

.wrap nav {
	background: var(--surface-40);
	width: var(--inner-width);
	height: var(--navbar-height);
	margin-bottom: var(--padding-norm);
	position: sticky;
	backdrop-filter: blur(var(--blur-small));
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: var(--padding-norm);
	padding: 0px var(--padding-norm);
	border-radius: var(--border-radius-norm) var(--border-radius-norm) var(--border-radius-large) var(--border-radius-large);

	.title {
		font-size: var(--font-size-large);
	}
}

.dropdown {
	position:relative;
	color:var(--accent);
	.dropdown-btn {
		width:100%;
		height:100%;
	}

	.dropdown-content {
		display:none;
		flex-wrap:wrap;
		flex-direction: column;
		position:absolute;
		top:100%;
		right:0;
		background:var(--surface);

		a {
			width:100%;
			text-align: end;
		}
	}
}


.dropdown:hover {
	.dropdown-content {
		display:flex;
	}

	.dropdown-btn {
		background:var(--accent);
		color:var(--background);
	}
}
